@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body{
    background-color: #9FC7AA;
  }


#font-color-1 {
    color: #9FC7AA;
    font-weight: 700;
    font-size: x-large;
}

#font-color-2 {
    font-weight: 700;
    color: #1B4E3B;
    font-size: x-large;
}

/* .btn-primary {
  background-color: #3B7962;
  --bs-btn-border-color: #3B7962;
  --bs-btn-hover-bg: #BFD47B;
  --bs-btn-hover-border-color: #BFD47B;
} */


.better-colors {
  color: #EEE6D3;
  background-color: #3B7962;
  text-decoration: none;
  border-color: #3B7962;
}

.better-colors:hover {
  color: #1B4E3B;
  background-color: #BFD47B;
  text-decoration: none;
  border-color: #3B7962;
}

.nav-link:hover {
  color: #BFD47B;
}

.btn-primary.active, .btn-primary:active {
  color: #fff;
  background-color: #3B7962;
  border-color: #3B7962;
}

.bgimage1 {
    width:100%;
    height:500px;
    background: url(../images/library-book-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  .bgimage1 h5 {
    color:white;
    text-shadow:2px 2px #333;
  }

  .quote-header1 {
color: #EEE6D3;
text-align: center;
margin-top: 200px;
margin-bottom: 0;
  }

  #quote-author1 {
    color: #EEE6D3;
text-align: center;
  }

  .text-color-main {
    color:#1B4E3B
  }
  

/*----------------------------------------------------------background image 2--------------------------------------------------*/

  .bgimage2 {
    width:100%;
    height:500px;
    background: url(../images/bridge.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  .bgimage2 h5 {
    color:white;
    text-shadow:2px 2px #333;
  }

  .quote-header2 {
color: #EEE6D3;
text-align: center;
margin-top: 200px;
margin-bottom: 0;
  }

  #quote-author2 {
    color: #EEE6D3;
text-align: center;
  }


  /*----------------------------------------------------------background image 3---------------------------------------------*/

  .bgimage3 {
    width:100%;
    height:500px;
    background: url(../images/young-old-mod-comp.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }
  .bgimage3 h5 {
    color:#5C646B;
    text-shadow:2px 2px #333;
  }

  .quote-header3 {
color: black;
text-align: center;
margin-top: 200px;
margin-bottom: 0;
  }

  #quote-author3 {
    color: black;
text-align: center;
  }

  /*----------------------------------------------------------background image 4---------------------------------------------*/

  .bgimage4 {
    width:100%;
    height:500px;
    background: url(../images/loneliness.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; 
  }
  .bgimage4 h5 {
    color:white;
    text-shadow:2px 2px #333;
  }

  .quote-header4 {
color: #EEE6D3;
text-align: center;
margin-top: 200px;
margin-bottom: 0;
  }

  #quote-author4 {
    color: #EEE6D3;
text-align: center;
  }

  /*----------------------------------------------------------background image 5---------------------------------------------*/

  .bgimage5 {
    width:100%;
    height:500px;
    background: url(../images/safety.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }

  .bgimage5 h5 {
    color:white;
    text-shadow:2px 2px #333;
  }

  .quote-header5 {
color: #EEE6D3;
text-align: center;
margin-top: 200px;
margin-bottom: 0;
  }

  #quote-author5 {
    color: #EEE6D3;
text-align: center;
  }

/*----------------------------------------------------------background image 6---------------------------------------------*/

.bgimage6 {
  width:100%;
  height:500px;
  background: url(../images/questions.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.bgimage6 h5 {
  color:white;
  text-shadow:2px 2px #333;
}

.quote-header6 {
color: #EEE6D3;
text-align: center;
margin-top: 200px;
margin-bottom: 0;
}

#quote-author6 {
  color: #EEE6D3;
text-align: center;
}

/*----------------------------------------------------------background image 7 (form page)------------------------------------------*/

.bgimage7 {
  background: url(../images/bookshelf-full.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

  /*-------------------------------------------------------------------------------------------NAVBAR---------------------------------*/

/*----------------------Homepage*/  
.highlighted {
  color:#BFD47B;
}

#highlighted2 {
  color:#BFD47B;
}

/*----------------------What is J&R?*/  
#highlighted1 {
  color:#BFD47B;
}

#highlighted3 {
  color:#BFD47B;
}

/*----------------------Members Stories*/  

#highlighted4 {
  color:#BFD47B;
}

#highlighted5 {
  color:#BFD47B;
}

/*----------------------Loneliness*/  

#highlighted6 {
  color:#BFD47B;
}

#highlighted7 {
  color:#BFD47B;
}

/*----------------------Safety&Security*/  

#highlighted8 {
  color:#BFD47B;
}

#highlighted9 {
  color:#BFD47B;
}

/*----------------------FAQs*/  

#highlighted10 {
  color:#BFD47B;
}

#highlighted11 {
  color:#BFD47B;
}


/*----------------responsive navbar-------------*/




.nav-top-bg-colour {
  background-color: #3B7962;
  color: #EEE6D3;
}


  .navbar-background {
  background-color: #cae8dc;
}

.text-off-white {
  color:#EEE6D3;
}

.faq-padding {
  padding-right: 0;
}

#logo {
  text-align: left;
  vertical-align: middle;
  font-size: xx-large;
}

.btn-align {
  display: inline-block;
}

/* .button-color {
  background-color: #3B7962;
  --bs-btn-border-color: #3B7962;
  --bs-btn-hover-bg: #BFD47B;
  --bs-btn-hover-border-color: #BFD47B;
} */

.nav-link:focus{
  color: #BFD47B;
}

.nav-link {
  color: #EEE6D3;
}

/*--------------------------------------------------------------------Homepage mid section--------------------------------------------*/



.div-text {
  text-align: center;
}

.text-icon-center {
  text-align: center;
}


/*--------------------------------------------------------------------How it works--------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  color: #1B4E3B;
}

.step-1 {
  grid-column: 1;
  grid-row: 1;
}

.step-2 {
  grid-column: 1;
  grid-row: 2;
}

.image-container {
  grid-column: 2;
  grid-row: 1 / span 2;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.step-3 {
  grid-column: 3;
  grid-row: 1;
}

.step-4 {
  grid-column: 3;
  grid-row: 2;
}

/*-----Footer---------*/

.footer {
background-color: #3B7962
}

.footer-content {
  color:#EEE6D3;
}

.social-center {
text-align: center;
}


/*-----------------------------------------------------Member-stories-page------------------------------------------------------------*/

.testimonial-image-1 {
border-radius: 50%;

}

.happy-lady {
  height:250px;
  width: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: auto;
}

.older-gent {
  height:250px;
  width: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: auto;
}

.older-lady-glasses {
  height:250px;
  width: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: auto;
}

/*-----------------------------------------------------Form------------------------------------------------------------*/

.btn-primary {
  color: #EEE6D3;
  background-color: #3B7962 ;
  border-color: #3B7962;
}


.btn-primary:hover {
  color: #3B7962;
  background-color: #BFD47B ;
  border-color: #BFD47B;
}

.border-color {
  border-color: #3B7962;
}

.bg-color {
  background-color: #BFD47B ;
}

/*--------------------------------------------Loneliness page------------------------------------------------------------*/

.cup-of-tea {
  width: 100%;
  height: 100%;
  padding-top: 30%;
}

/*--------------------------------------------FAQs page------------------------------------------------------------*/
.the-thinker {
  width:456px;
  height:408px;
}

/*--------------------------------------------What is J&R------------------------------------------------------------*/



/*---------------------------------------------------Footer----------------------------------------------------------*/


.extra-footer {
  background-color: rgba(0, 0, 0, 0.2);
}