@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body{
    background-color: #cae8dc;
  };
}

#font-color-1 {
    color: mintcream;
    font-weight: 700;
    font-size: x-large;
}

#font-color-2 {
    font-weight: 700;
    color: #1B4E3B;
    font-size: x-large;
}

.bgimage {
    width:100%;
    height:500px;
    background: url(../images/library-book-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }
  .bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
  }

  .quote-header {
color: #f5fffa;
text-align: center;
margin-top: 200px;
margin-bottom: 0;
  }

  #quote-author{
    color: #f5fffa;
text-align: center;
  }


  /*-------------------------------------------------------------------------------------------NAVBAR---------------------------------*/

  .navbar-background {
  background-color: #cae8dc;
}

#logo {
  text-align: left;
  vertical-align: middle;
}

.fa-solid .fa-user-shield .icon-center {
  text-align: center;
}

.text-bg-dark {
  text-align: center;
}

.fa-solid, .fas {
  font-weight: 900;
  font-size: x-large;
}

#logo {
  font-size: xx-large;
}

.btn-align {
  display: inline-block;
}

.btn-primary {
  background-color: #BFD47B;
  --bs-btn-border-color: #BFD47B;
  --bs-btn-hover-bg: #1B4E3B;
  --bs-btn-hover-border-color: #BFD47B;
}

.nav-link {
  margin: 30px;
}

/*--------------------------------------------------------------------Homepage mid section--------------------------------------------*/

